# SQL SetUp Queries
.txt

# Dependency directories
node_modules/

# dotenv environment variables file
.env

env.list

data/

build/

dist/

secrets

# Testing with k8s
deployment/k8s-test

# Deployment with Docker-Compose
deployment/docker-compose

deployment/ingress_nginx_svc.yml

deployment/prod_issuer.yaml

frontend/landing/src/setup/config

backend/coverage/

README.md

.versionTracker


