# SQL SetUp Queries
.txt

# Dependency directories
node_modules/

# dotenv environment variables file
backend/.env

env.list

data/

build/

dist/

secrets

# Testing with k8s
deployment/

frontend/landing/src/setup/config

backend/coverage/

README.md

.versionTracker


