<b>Hello John</b>
</br>
</br>
<b>Thanks for your reservation at Lazy U Motel! We really appreciate you booking with us! As for your reservation, here are the details:  </b>

<ul style="list-style-type:none;">
  <li>Name: John Wells</li>
  <li>Number of Guests: 2</li>
  <li>Room Type: Double Queen with Patio</li>
  <li>Check-In: 10/26/2020</li>
  <li>Check-Out: 10/28/2020</li>
  <li>Total Nights: 2</li>
  <li>Total price (including tax) for 2 nights: $168</li>
</ul>

<b>If any details stated above are alarming or inaccurate, please don't hesitate to contact us at our number (605) 348-3200. Also please note our 48-hour cancellation policy for a full refund. Other than that we hope to see you soon! </b>
</br>
</br>
<p><b>Lazy U Motel | 605-343-4242</b></p>
<p><b>4048 Mt. Rushmoore Rd, Rapid City SD 57701</b></p>

